.file-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr)); /* ריבועים קצת יותר קטנים */
    gap: 20px;
    padding: 20px;
    justify-items: center; /* למרכז את הריבועים בשורה */
  }
  
  .file-item {
    background-color: white;
    margin: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 130px; /* גובה הריבועים הקטן יותר */
    width: 130px; /* רוחב הריבועים הקטן יותר */
  }
  
  .file-item:hover {
    transform: scale(1.05); /* הריבועים יגדלו במעבר עכבר */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #003366; /* כחול */
  }
  
  .file-name {
    color: #003366; /* כחול */
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .file-description {
    color: #080000;
    font-size: 12px;
    opacity: 0.8;
  }
  
  .file-item:active {
    transform: scale(1); /* בעת לחיצה הריבוע יחזור לגודלו הרגיל */
  }
  